@media screen and (max-width: 500px) {
  .header{
    float: none;
    display: inline-block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
body
{
	background color:grey;
}

.site
{
	font-family: 'Holtwood One SC', sans-serif;
}

.btn-order
{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	background-color: #e7480f;
	text-decoration: none;
	text-shadow: 2px 2px #333;
}

.btn-order:hover, .btn-order:focus
{
	color: #fff;
	background-color: #c13c0d;
}

/* ADMIN */

.admin
{
	background: #fff;
	padding: 50px;
	border-radius: 10px;
}

.help-inline
{
	color: red;
}



















